<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="main" class="root.root.Main"/>
    <bean id="converter" class="root.root.ConvertManager">
        <constructor-arg index="0" ref="main"/>
        <constructor-arg index="1" value="65.43"/>
        <constructor-arg index="2" value="RUB"/>
        <constructor-arg index="3" value="USD"/>
    </bean>
</beans>